
@{
    Layout = "~/Areas/Stock/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Here you can manager your Product</h1>
    <p>Select one of the options above.</p>
</div>